<link rel="stylesheet" href="/css/login.css">
<form action="/signin" class="signupContainer" method="post">
    <h1 class="signupHeading">Login</h1>

    <div class="inputField">
        <input class="inputFieldi" type="text" name="email" placeholder='email' />
    </div>
    <div class="inputField">
        <input class="inputFieldi" type="password" name="password" placeholder='password' />
    </div>

    <div class="btncontainer">
        <button class="btn" type="submit">Login</button>

    </div>
    <div>
        <p>Don't have an account <a href="/">Signup</a></p>
    </div>
    <div>
        <p> <a href="/reset">Reset Password</a></p>
    </div>

</form>
